<!DOCTYPE html> 
<html lang="en"> 

<head>
	 <title>InMap</title>
	 <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
	 <meta charset="utf-8">
</head>
<body>
<div id="wrapper">
	<header>
	<nav> 
		<ul> 
			<li><a href="map">home</a></li>
			<li><a href="journal">journal</a></li>
			<li><a href="contact">report a bug</a></li>
			<li><a href="/">sign out</a></li>
		</ul>
	</nav>
	</header>
		<h3 style="font-family: aileron, sans-serif; font-weight: 700; font-style: normal;">Map</h3>
	
	<div id="container" style="padding: 0%;">
		<div id="mapdiv">
			<p align="center">
			<iframe src="https://createaclickablemap.com/map.php?&id=98717&maplocation=false&online=true" width="900px" height="525px" style="border: none;"></iframe></p>
			<script>if (window.addEventListener){ window.addEventListener("message", function(event) { if(event.data.length >= 22) { if( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } else if (window.attachEvent){ window.attachEvent("message", function(event) { if( event.data.length >= 22) { if ( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } </script>
		</div>
	</div>
</div>

<footer>
	<h5>
		cs 320 final project. amanda souriyamath, laura messick, trey fontaine. Fall 2020
	</h5>
</footer>
</body>
</html>