<!DOCTYPE html> 
<html lang="en"> 

<head>
	<title>InMap</title>
	<link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
	<meta charset="utf-8">
</head>
<body>
<div id="wrapper">
	<header>
	<nav> 
		<ul> 
			<li><a href="map">home</a></li>
			<li><a href="journal">journal</a></li>
			<li><a href="contact">report a bug</a></li>
			<li><a href="/">sign out</a></li>
		</ul>
	</nav>
	</header>
		<img style="height:100%; width:100%" src="../static/img/journalPage.png" alt="trey"><br>
</div>

<footer>
	<h5>
		cs 320 final project. amanda souriyamath, laura messick, trey fontaine. Fall 2020
	</h5>
</footer>

</body>
</html>