<!DOCTYPE html>
<html>
    <head>
        <title>MapJournal</title>
        <!--link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}-->
    </head>
    <style>
        
    </style>
    <body a link="blue" vlink="purple">
        <div class="main-container-1">
            <h1>Interactive Map Journal</h1>

            <!--Map from createaclickablemap.com-->
            <iframe src="https://createaclickablemap.com/map.php?&id=98404&maplocation=false&online=true" width="1000" height="583" style="border: none;"></iframe>
            <script>if (window.addEventListener){ window.addEventListener("message", function(event) { if(event.data.length >= 22) { if( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } else if (window.attachEvent){ window.attachEvent("message", function(event) { if( event.data.length >= 22) { if ( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } </script>
            <!--Map from createaclickablemap.com-->

            <!-- <form>
                <label for='search_bar'>Recipe Search:</label>
                <input id='search_bar' name='search' type='text' required>
                <input id='submit' type='submit'>
            </form>
            <a href='/advanced_search'>Advanced Search</a> -->
        </div>
    </body>
</html>