<!DOCTYPE html>
<html>
    <head>
        <title>MapJournal</title>
        <!--link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}-->
    </head>
    <style>
        
    </style>
    <body a link="blue" vlink="purple">
        <div class="main-container-1">
            <h1>Interactive Map Journal -- Individual state page</h1>
            <h2><a href="/">Home </a></h2>

            <!-- <form>
                <label for='search_bar'>Recipe Search:</label>
                <input id='search_bar' name='search' type='text' required>
                <input id='submit' type='submit'>
            </form>
            <a href='/advanced_search'>Advanced Search</a> -->
        </div>
    </body>
</html>